django
djangorestframework
markdown
django-filter
celery[redis]
flower
psycopg2-binary
asgiref
pytz
sqlparse
Faker
requests
django_celery_beat
django_celery_results
joeflow[reversion,celery]
puput
django-machina
django-helpdesk
django-hosts
django-cors-headers
whitenoise