{% extends 'base.html' %}
 
{% block content %}

<div class="album py-5 bg-light">
    <div class="container">
      <h2 class="mb-3">Place Order</h2>
      <p class="mb-5">Note: This module is not complete and still Work in Progess. Please check status at Github repo.</p>
      <div class="row">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <br>
        <input type="submit" name="submit">
        </form>
      </div>
    </div>
  </div>
 
{% endblock %}