{% extends 'base.html' %}
 
{% block content %}

<div class="album py-5 bg-light">
    <div class="container">
      <h2 class="mb-5">Our Products</h2>
      <div class="row">
        {% for p  in products%}
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{{p.image.url}}" alt="{{p.name}}" style="height: 125px; width: 100%; display: block;" >
            <div class="card-body">
              <h4>{{p.name}}</h4>
              <p class="card-text">{{ p.description}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="#" class="btn btn-sm btn-outline-primary">View</a>
                <a href="{% url 'ecommerce:placeOrder' p.id %}" class="btn btn-sm btn-outline-primary">Order Now</a>
                <small class="text-muted">$ 49.00</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}